.test-content-tab{
	display: none;
	border-top: 1px solid #ccc;
}

.test-content-tab span.label{
	display: block;
	padding-bottom: 4px;
}

.test-content-tab .handle-test-data{
	margin-right: 5px;
}

.test-content-tab .dashicons{
	margin-top: 4px;
	font-size: 1.2em
}

.test-data-status-box{
	display: block;
	width:95%;
	height:300px;
	overflow-y: scroll;
	background: #fff;
	padding: 10px;
}

@media screen and (min-width: 500px){
	.test-content-tab span.label{
		width: 20%;
		display: inline-block;
		padding-bottom: 2px;
	}

	.test-content-tab span.label + .button-primary{
		clear: none;
	}
}
