.test-content-tab{
	display: none;
	border-top: 1px solid #ccc;
}

.test-content-tab span.label{
	display: block;
	padding-bottom: 4px;
}

.test-content-tab .handle-test-data{
	margin-right: 5px;
}

.test-content-tab .handle-test-data.disabled{
	cursor: wait;
	-webkit-filter: grayscale( 100% );
	filter: grayscale( 100% );
}

.test-content-tab .handle-test-data[data-todo="delete"]{
	background-color: #a00;
	border-color: #990000 #990000 #990000;
	box-shadow: 0 1px 0 #990000;
	text-shadow: 0 -1px 1px #990000,1px 0 1px #990000,0 1px 1px #990000,-1px 0 1px #990000;
}

.test-content-tab .handle-test-data[data-todo="delete"]:hover,
.test-content-tab .handle-test-data[data-todo="delete"]:focus{
	background-color: #8e0000;
}

.test-content-tab .dashicons{
	margin-top: 6px;
	font-size: 1.2em
}

.test-data-status-box{
	display: block;
	width:95%;
	height:300px;
	overflow-y: scroll;
	background: #fff;
	padding: 10px;
}

@media screen and (min-width: 500px) {
	.test-content-tab span.label{
		width: 20%;
		display: inline-block;
		padding-bottom: 2px;
	}

	.test-content-tab span.label + .button-primary{
		clear: none;
	}
}
